h1 {
    border: 5px solid rgb(252, 117, 7);
    color: rgb(82, 9, 253);
    text-align:center ;
    border-style: double;
    box-sizing: content-box;
    position: sticky;
    background-color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', "Geneva", Verdana, sans-serif;
  }
  h3 {
      color: rgb(0, 38, 255);
      text-decoration: overline;
      text-decoration: underline;
  }
  h2 {
      background-color: burlywood;
  }
  ul{
      background-color: beige;
  }


table{
    border: 2px solid black;
    border-style: solid;
    border-collapse: collapse;
    background-color: antiquewhite;
}

td{
    border: 2px solid black;
    border-style: solid;
}
th{
    border: 2px solid black;
    border-style: solid;
}
img{
    border: 5px solid rgb(253, 94, 3);
}
div {
    background-image: "C:\Users\91970\Desktop\photos\IIITH.JFIF";
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
p {
    color: brown;
}

