h1 {
    border: 5px solid gray;
    color: rgb(82, 9, 253);
    text-align:center ;
    border-style: double;
    box-sizing: content-box;
    position: sticky;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', "Geneva", Verdana, sans-serif;
  }
  h3 {
      color: rgb(0, 38, 255);
      text-decoration: overline;
      text-decoration: underline;
      text-align: right;
  }
  h2 {
      text-align: center;
      text-decoration: solid;
      color: gray;
  }
  ul {
      color: orange;
  }
  html {
      background-color: black;
  }


table{
    border: 2px solid green;
    border-style: solid;
    border-collapse: collapse;
    color: whitesmoke;
}

td{
    border: 2px solid green;
    border-style: solid;
}
th{
    border: 2px solid green;
    border-style: solid;
}
img{
    border: 5px solid rgb(253, 94, 3);
}
div {
    background-image: "C:\Users\91970\Desktop\photos\IIITH.JFIF";
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
p {
    color: brown;
}

